<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
  </head>
  <body>
    <h1>Add Data</h1>
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="your name" />
      <input type="text" name="hobby" placeholder="your hobby" />
      <button type="submit">submit</button>
      <a href="/">back</a>
    </form>
  </body>
</html>
