<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <a href="/add">add data</a>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>hobby</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.hobby %></td>
          <td>
            <a href="/edit/<%= user._id %>">Edit</a>
            <a
              href="/delete/<%= user._id %>"
              onclick="return confirm('Are you sure?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
